.hero-section {
  flex: 1 1 auto;
  background-color: var(--primaryColor900);
  margin-bottom: 8rem;
}

.hero-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 4rem;
  color: white;
  padding: 2rem 0;
}

.hero-titles {
  flex: 1 1 50%;
}

.hero-title {
  color: var(--primaryColor100);
}

.hero-image {
  flex: 1 1 50%;
  border-radius: var(--borderRadius);
  position: relative;
}

.img-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--borderRadius);
}
