.hero-section {
  flex: 1 1 auto;
  color: white;
  background-color: var(--primaryColor900);
  padding: 1rem 10rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 10rem;
}

.hero-titels {
  flex: 1 1 50%;
}

.hero-title {
  color: var(--primaryColor100);
}

.hero-image {
  flex: 1 1 50%;
  border-radius: var(--borderRadius);
  overflow: hidden;
}
