.highlights-section {
  flex: 1 1 auto;
  margin-bottom: 8rem;
}

.highlights-layout {
  display: flex;
  flex-flow: column nowrap;
}

.highlights-header {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.highlights-body {
  margin-top: 2rem;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 4rem;
}
