.highlight-item {
  flex: 1 1 33%;
  border-radius: var(--borderRadius);
  background-color: var(--secondaryColor700);
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
}

.item-inner {
  flex: 1 1 auto;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.item-details {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.item-name {
  font-weight: 600;
}

.item-price {
  color: var(--secondaryColor100);
}

.btn-container {
  display: flex;
  align-items: center;
}

span + img {
  display: inline-block;
  margin-left: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.btn-container:hover span + img {
  margin-left: 2rem;
  cursor: pointer;
}
